@import "../../index.scss";

.menuWrap{
  color: $main-color;
  position: absolute;
  z-index: 10;
  top: 7vh;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.7);
  height: 12vh;
  >.menuItem{
    width: 100%;
    height: 6vh;
  }
}
