@import "./index.scss";

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
  overflow: hidden;
  position: relative;  
}

.header{
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  margin-top: 1vh;
  box-sizing: border-box;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  width: 100%;
  background-color: $bg-color;
}