// 公共样式、变量

// $bg-color: rgb(18, 18, 18);
$bg-color: rgb(15, 20, 28);
$bar-color: rgb(15, 20, 28);
$main-color: rgb(147, 181, 207);
$main-deep-color: rgb(20, 35, 52);
$btn-color: rgb(20, 74, 116);

// @font-face {
//   font-family: "NOTO SERIF SC SEMIBOLD";
//   src: url('./assests/NotoSerifSC-SemiBold.otf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "NOTO SERIF";
//   src: url('./assests/Noto Serif.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $main-color;
  // font-family: $font;
  font-display: fallback;
  background-color: $bg-color;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* 移动端点击蓝色阴影 */
}

a {
  text-decoration: none;
  color: $main-color;
}

button {
  background-color: transparent;
  border: 2px solid $main-color;
  // font-family: $font;
  cursor: pointer;
}
